APP_DB_BACKEND=sqlite
APP_POSTGRES_URL=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
APP_DB_PATH=./data/metas.db
APP_TIMEZONE=America/Sao_Paulo
APP_AGENT_TOKEN=trocar_token_agent
APP_ADMIN_TOKEN=trocar_token_admin
APP_AUTO_DAILY_ENABLED=true
APP_DAILY_HOUR=6
APP_ONLINE_MINUTES=3
APP_HEARTBEAT_STALE_SECONDS=300
APP_POLL_SECONDS=10


